$InputConfig = {
  width: 100%
  height: 50
  radius: 5
  border: {
    size: 1
    type: solid
    color: #DDD
  }
  color: #cbcbcb
  padding:10
}

.Input {
  margin-bottom: 10px;

  & input {
    height: unit($InputConfig.height, 'px');
    width: unit($InputConfig.width, '%');
    border: unit($InputConfig.border.size, 'px') $InputConfig.border.type $InputConfig.border.color;
    color: $InputConfig.color;
    border-radius: unit($InputConfig.radius, 'px')
    padding: unit($InputConfig.padding, 'px');
  }

  & label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    color: #cbcbcb;
    text-transform: uppercase;
  }
}
