/*******************************************************************************
* Color stuff
*******************************************************************************/
$palette = {
  black: #000
  jellyBean: #247ba0
  mineShaft: #333
  fringyFlower: #b2dbbf
  tradewind: #70c1b3
  australianMint: #f3ffbd
  mandy: #eb547c
  white: #fff
  alabaster: #f9f9f9
  grey: #cccccc
}

$colors = {
  text: $palette.mineShaft
  bg: $palette.alabaster
}

// @stylint off
$colorVariations = {
  default: {
    bg: $palette.white
    text: $palette.mineShaft
  }
  primary: {
    bg: $palette.jellyBean
    border: #297fa2
    text: $palette.white
  }
  secondary: {
    bg: $palette.tradewind
    border: #73C3B5
    text: $palette.white
  }
  tertiary: {
    bg: $palette.fringyFlower
    border: #b3dcc1
    text: $palette.white
  }
  fourthiary: {
    bg: $palette.australianMint
    border: #deeda1
    text: $palette.mineShaft
  }
  fifthiary: {
    bg: $palette.mandy
    border: #ec587f
    text: $palette.white
  }
  cancel: {
    bg: $palette.alabaster
    border: #eaeaea
    text: $palette.grey
  }
}
// @stylint on

/*******************************************************************************
* Font stuff
*******************************************************************************/
$fontFamily = {
  default: sans-serif
}

$fontWeight = {
  light: light,
  normal: normal
}

$fontSize = {
  default: 12px
}

/*******************************************************************************
* Misc
*******************************************************************************/
$radius = {
  default: 5px
}
